    <div id="grid">
        <div id="A1" class="gridSquare" onclick="Grid.InitiateMove('A1');"></div>
        <div id="A2" class="gridSquare" onclick="Grid.InitiateMove('A2');"></div>
        <div id="A3" class="gridSquare" onclick="Grid.InitiateMove('A3');"></div>
        <div id="B1" class="gridSquare" onclick="Grid.InitiateMove('B1');"></div>
        <div id="B2" class="gridSquare" onclick="Grid.InitiateMove('B2');"></div>
        <div id="B3" class="gridSquare" onclick="Grid.InitiateMove('B3');"></div>
        <div id="C1" class="gridSquare" onclick="Grid.InitiateMove('C1');"></div>
        <div id="C2" class="gridSquare" onclick="Grid.InitiateMove('C2');"></div>
        <div id="C3" class="gridSquare" onclick="Grid.InitiateMove('C3');"></div>
    </div>
    <div class="clearLeft"></div>